* {
    background-color: none;
}

.sidebar {
    position: fixed;
    right: 0;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 10;
}

#mu {
    width: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#mu:hover {
    transform: translateY(-3px);
}

#mu{
    margin-right: 5px;
}

.animate-like {
    animation-name: likeAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.65s;
}

@keyframes likeAnimation {
    0% {
        transform: scale(30);
    }
    100% {
        transform: scale(1);
    }
}

.barItem {
    list-style: none;
    display: block;
}

.Item {
    display: block;
    width: 200px;
    margin-block: 50px;
}

.Item > * {
    font-family: 'Eulyoo1945-SemiBold';
    font-size: 20px;
}
