@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'IBMPlexSansKR-Regular';
    color: white;
}

.Title{
    font-family: 'Eulyoo1945-SemiBold';
    font-size:1.6rem;
    margin : 0.8rem 0;
    text-align: left;
}

/*Header*/
#Header {
    text-align: right;
    margin: 1rem 0;
}

.HeaderItem{
    color: #fff;
    margin : 2rem 1rem;
    background: transparent;
    border-radius: 0;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: none;
  }
  
.HeaderItem:hover {
    color: #fff;
    background-position: 99% 50%;
}

/*Main Body*/
.container{
    margin : 0 2rem;
    padding: 1.5rem 2rem;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/*Footer*/
#Footer{
    position: relative;
    margin : 3rem 2rem;
    height: 2rem;
}

/*All Heroes*/
#wholeFrame{
    padding:28% 0 5% 0;
    width: 100%;
    height: auto;
    background-color: #000000;
    background-image: url(./asset/LOH_BLOG_IMG_TITLE.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

/*countries*/
.country {
  display: inline-block;
  margin:10px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 30px;
}

.same-Continent{
  display: inline-block;
  margin:12px 0 13px 0;
  width: 20px;
  height: 2px;
  opacity: 70%;
  background-color: white;
  border-radius: 30px;
}

.diff-Continent{
  display: inline-block;
  margin:12px 0 13px 0;
  width: 20px;
  height: 2px;
  background-color: white;
  opacity: 30%;
  border-radius: 30px;
}

select{
    background-color: #000000;
    padding:1% 1%;
    margin : 1%;
    width: 7%;
    text-align: center;
}

.con_Body > div{
    width: 100%;
    padding: 1rem 0 3rem 0;
    position: relative;
}

.Subtitle{
    text-align: left;
}

.Subtitle>*{
    position: absolute;
    display: inline;
    font-size: 1.3rem;
}

.enTitle{
    padding : 0.8rem 0 0 2rem;
    opacity: 0.4;
}